*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* the code start from here for the banner */
.banner{
    display: flex;
    height: 800px;
    margin: 85px 0 0 0;
    position: relative;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bannerContent{
    position: absolute;
    bottom: 0;
    right: 0;
}


.demoProductsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}